/* COMMON */
.pc {
  display: none !important;
}

.mobile {
  display: block !important;
}

br.only-pc {
  content: '';
}

#wrapper {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

h3 {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #212121;
  text-align: center;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 30px 0;
  box-sizing: border-box;
}

.bg {
  position: absolute;
  top: 0;
  height: 100%;
}

.bg-left {
  width: 45%;
  left: 0;
}

.bg-right {
  width: 55%;
  right: 0;
}

.bg--white {
  background-color: #f4f4f4;
}

.bg--green {
  background-color: #c2d5d6;
}

/* INNER */
.inner {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* HEADER */
#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 9;
  border-bottom: 1px solid #00695c;
  background-color: #f4f4f4;
}

#header h1 a {
  display: block;
}

#header h1 a img {
  display: inline-block;
  width: 35px;
  vertical-align: top;
}

#header h1 span {
  font-size: 22px;
  font-weight: 700;
  color: #00695c;
}

#header .menu-btn {
  font-size: 25px;
  color: #00695c;
}

#gnb {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background-color: #f4f4f4;
  border-bottom: 1px solid #00695c;
  overflow: auto;
  display: none;
}

#gnb.open {
  display: block;
}

#gnb ul li:hover a {
  color:#707070;
}

#gnb ul li a {
  display: block;
  padding: 13px 15px;
  border: 1px solid transparent;
  font-size: 16px;
  color: #212121;
  transition: .3s;
} 



/* MAIN */
#page-indicator {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  display: none;
}

#page-indicator li + li {
  margin-top: 15px;
}

#page-indicator li a {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 30px;
  border: 3px solid #fff;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#page-indicator li.active a {
  background-color: #fff;
}

/* HOME */
.main-home .content-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.main-home .title {
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
}

.main-home .description {
  margin: 25px 0 45px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
}

.main-home .btn {
  width: 130px;
  padding: 15px 20px;
  border: 2px solid #000;
  font-size: 15px;
  letter-spacing: 2px;
  transition: .3s;
}

.main-home .btn:hover {
  background-color: #f4f4f4;
}

/* ABOUT */
.main-about .about {
  height: 100%;
}

.about__profile > div {
  width: 230px;
  margin: 0 auto;
}

.about__profile .comment {
  padding: 5px 20px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  background-color: #fafafa;
}

.about__profile .comment em {
  font-size: 14px;
  font-weight: 500;
}

.about__history > ul > li + li {
  margin-top: 25px;
}

.about__history > ul > li > span {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8em;
  letter-spacing: 0.5px;
  color: #1b1b1b;
}

.about__history > ul > li > ul > li {
  font-size: 14px;
  line-height: 1.6em;
}

.about__history .advantage em {
  font-size: 15px;
  color: #00695c;
}

.about__history .advantage a {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: #616161;
}

.about__history .skills li {
  display: inline-block;
}

.about__history .skills li + li::before {
  content: ', ';
}


/* PORTFOLIO */
/* COMMON */
.main-portfolio .page .portfolio {

  height: 100%;
}

.main-portfolio .page .image {
  max-width: 450px;
}

.main-portfolio .page .text-group {
  margin-top: 15px;
}

.main-portfolio .page .title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}

.main-portfolio .page .skill li {
  display: inline-block;
  font-size: 12px;
}

.main-portfolio .page .skill li + li {
  margin-left: 5px;
}

.main-portfolio .page .description {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6em;
}

.main-portfolio .page .links li {
  display: inline-block;
}

.main-portfolio .page .links li:not(li:last-child) {
  margin-right: 5px;
}

.main-portfolio .page .links li:first-child {
  display: block;
  margin: 0 0 7px 0;
}

.main-portfolio .page .links li:first-child a {
  width: 130px;
}

.main-portfolio .page .links li a {
  display: block;
  width: 50px;
  padding: 6px 8px;
  border: 1px solid #00695c;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  color: #00695c;
  transition: .3s;
}

.main-portfolio .page .text-group em {
  display: none;
  margin-top: 10px;
  font-size: 11px;
  font-weight: 400;
  color: #424242;
}

.main-portfolio .page .text-group em::before {
  content: '*';
}

/* JEJU BEER */
.main-portfolio .page.jejubeer .title {
  color: #1ecad3;
}

.main-portfolio .page.jejubeer .links li:hover a {
  color: #fff;
  background-color: #1ecad3;
}

/* COTIE SHOP */
.main-portfolio .page.cotieshop .title {
  color: #000;
}

.main-portfolio .page.cotieshop .links li:hover a {
  border-color: #000;
  color: #000;
  background-color: #F0EDE6;
}

/* OUTBACK */
.main-portfolio .page.outback .title {
  color: #b10a11;
}

.main-portfolio .page.outback .links li:hover a {
  color: #fff;
  background-color: #b10a11;
}

/* WISE WEDDING */
.main-portfolio .page.wisewedding .title {
  color: #bf8365;
}

.main-portfolio .page.wisewedding .links li:hover a {
  border-color: #bf8365;
  color: #fff;
  background-color: #bf8365;
}


/* CONTACT */
.main-contact {
  background-color: #f4f4f4;
}

.main-contact .inner > p {
  text-align: center;
  font-size: 15px;
  line-height: 1.6em;
}

.contact__links {
  padding-top: 30px;
  text-align: center;
}

.contact__links li + li {
  margin-top: 20px;
}

.contact__links li a {
  display: block;
  width: 70%;
  margin: 0 auto;
  color: #00695c;
}

.contact__links li a .title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #00695c;
}

.contact__links li a i {
  display: block;
  margin: 5px 0 10px;
  font-size: 50px;
}

.contact__links li a .description {
  font-size: 14px;
}

/* FOOTER */
#footer {
  height: auto;
  padding: 0;
  background-color: #00695c;
}

#footer .inner {
  height: 40px;
}

#footer .copyright {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #f4f4f4;
}

/* TO TOP BUTTON */
#to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  color: #f4f4f4;
  background-color: #00695c;
  box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 20%);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

#to-top i {
  display: block;
  line-height: 30px;
}

#to-top.visible {
  opacity: 1;
  pointer-events: auto;
}